.header {
    font-size: 4rem;
    padding: 32px 0px;
}

.app {
    display: inline-flex;
    justify-content: center;
    gap: 32px;
    max-width: 800px;
    padding: 16px;
}

.app__option {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 0 1 30%;
}

.app__option__btn {
    border-style: none;
    background-color: rgb(16, 16, 16);
    color: white;
    width: 100%;
    height: 64px;
    font-family: monospace;
    font-size: 1rem;
    transition: 0.4s;
}

.app__option__btn:hover {
    border: 1px solid rgb(16, 16, 16);
    background-color: rgb(255, 255, 255);
    color: rgb(16, 16, 16);
}

.grid {
    display: grid;
    width: 500px;
    height: 500px;
}

.grid__box {
    background-color: #ffffff;
    display: inline-block;
}

body {
    background-color: #f5f5f5;
    text-align: center;
    font-family: monospace;
    color: rgb(16, 16, 16);
}

@media (max-width: 650px) {
    .app {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .app__option {
        flex-direction: row;
    }

    .grid {
        aspect-ratio: 1 / 1;
        width: 100%;
        height: auto;
    }

}